<main class="cart-container">
    <h1>Cart</h1>
    {{#if cartEmpty}}
        <div>
            <h1>No hay productos en el cart</h1>
        </div>
    {{else}}
        <section class="cart-section">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="dinamic-product-list">
                        {{#each productsMap}}
                        <tr>
                            <td>{{this.thubmail}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.price}}</td>
                            <td>
                                <button type="button" class="btn-delete" value={{this.id}}>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>  
            </div>
            <div>
                <form style="display: flex; flex-direction: column; margin-right: 30px;" action="/api/carts/{{cartId}}/purchase" method="post">
                    <label for="numero_tarjeta">Número de Tarjeta:</label>
                    <input type="text" id="numero_tarjeta" name="numero_tarjeta" required><br><br>

                    <label for="nombre_titular">Nombre del Titular:</label>
                    <input type="text" id="nombre_titular" name="nombre_titular" required><br><br>

                    <label for="direccion">Dirección de Envío:</label>
                    <input type="text" id="direccion" name="direccion" required><br><br>

                    <label for="codigo_postal">Código Postal:</label>
                    <input type="text" id="codigo_postal" name="codigo_postal" required><br><br>

                    <input style="justify-self: center; cursor: pointer;" type="submit" value="Realizar Compra">
                </form>
            </div>
        </section>    
    {{/if}} 
</main>