{{#if cartEmpty}}
    <main class="main__container">
        <section class="section__error">
            <h1>Cart</h1>
            <h2>Cart is empty, add some products</h2>
            <a class="btn__back" href='/products'>Click to return</a>
        </section>
    </main>
{{else}}
    <header class="products__header">
        <h2>This is your cart</h2>
        <nav>
            <ul>
                {{#if rol}}
                    <li>
                        <a class="profile__btn--secret" href='/realtimeproducts'>Admin Products<a></a>
                    </li>
                {{/if}}
                <li>
                    <a class="profile__btn--secret" href='/products'>Products<a></a>
                </li>
                <li>
                    <a class="profile__btn--secret" href='/profile'>Profile<a></a>
                </li>
                <li>
                    <a class="profile__btn--logout" href="/auth/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main__container--carts">
        <section class="section__cart">
            <div class="table-container">
                <div class="table-container-title">
                    <h1>Cart</h1>
                    <button type="button" class="clearCart" value={{cartId}}>Clear cart</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="dinamic-product-list">
                        {{#each productsMap}}
                            <tr>
                                <td>
                                    <img src="{{this.thubmail}}"/>
                                </td>
                                <td>{{this.title}}</td>
                                <td>{{this.quantity}}</td>
                                <td>{{this.price}}</td>
                                <td>
                                    <button type="button" class="btn-delete" id={{this.id}} value={{../cartId}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        {{/each}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total: </td>
                            <td>{{totalAmount}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>  
            </div>
            <div class="cart__form__container">
                <form class="purchase__form" action="/api/carts/{{cartId}}/purchase" method="post">
                    <label for="numero_tarjeta">Card number:</label>
                    <input type="text" id="numero_tarjeta" name="numero_tarjeta" required>

                    <label for="nombre_titular">Name of owner:</label>
                    <input type="text" id="nombre_titular" name="nombre_titular" required>

                    <label for="direccion">Address:</label>
                    <input type="text" id="direccion" name="direccion" required>

                    <label for="codigo_postal">Postal code:</label>
                    <input type="text" id="codigo_postal" name="codigo_postal" required>

                    <input class="form__submit btn__purchase" type="submit" value="Purchase">
                </form>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/cartSweetAlert.js"></script>   
    </main>
{{/if}} 