<header class="products__header">
    <h2>Welcome {{firstName}}</h2>
    <nav>
        <ul>
            {{#if rol}}
                <li>
                    <a class="profile__btn--secret" href='/realtimeproducts'>Admin Products<a></a>
                </li>
            {{/if}}
            <li>
                <a class="profile__btn--secret" href='/profile'>Profile<a></a>
            </li>
            <li>
                <a class="profile__btn--secret" href='/carts/{{cart}}'>Cart<a></a>
            </li>
            <li>
                <a class="profile__btn--logout" href="/auth/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main__products">
    <section class="card__container">
        {{#each payload}}
            <div class="card">
                <div class="card__image__container">
                    <img src="{{this.thubmail}}" alt="image"/>
                </div>
                <div class="card__data">
                    <div class="card__title">
                        <h2>{{this.title}}</h2>
                    </div>
                    <div class="card__description">
                        <p>{{this.description}}</p>
                    </div>
                    <div class="card__btn">
                        <p>${{this.price}}</p>
                        <form>
                            <button type="button" class="btn-add-to-cart" value="/api/carts/{{../cart}}/products/{{this.id}}">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </section>
    <section class="pagination__container">
        <div class="pagination__btn">
            {{#if hasPrevPage}}
                <a href='/products?page={{prevPage}}'>Prev</a>
            {{/if}}
            <p>{{page}}</p>
            {{#if hasNextPage}}
                <a href='/products?page={{nextPage}}'>Next</a>
            {{/if}}
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productsSweetAlert.js"></script>