<div class="profile__container">
    <h2>Bienvenido {{firstName}} usted es "{{rol}}"</h2>
    <a class="profile__btn--secret" href='/carts/{{cart}}'>Cart<a></a>
    <a class="profile__btn--secret" href='/auth/current'>Ver perfil<a></a>
    <a class="profile__btn--logout" href="/auth/logout">Logout</a>
</div>
<section class="card__container">
    {{#each payload}}
        <div class="card">
            <img src="{{this.thubmail}}" alt="image"/>
            <div class="card__data">
                <h2 class="card__title">{{this.title}}</h2>
                <p class="card__description">{{this.description}}</p>
                <p class="card__price">Price: ${{this.price}}</p>
            </div>
            <form class="btn__add__to__cart" action="/api/carts/{{../cart}}/products/{{this.id}}" method="post">
                <button type="submit" id="{{this.id}}">Add to cart</button>
            </form>
        </div>
    {{/each}}
</section>
<section class="pagination__container">
    <div class="pagination__btn">
        {{#if hasPrevPage}}
            <a href='http://localhost:8080/products?page={{prevPage}}'>Prev</a>
        {{/if}}
        <p>{{page}}</p>
        {{#if hasNextPage}}
            <a href='http://localhost:8080/products?page={{nextPage}}'>Next</a>
        {{/if}}
    </div>
</section>